<div class="container mt-5">
    <div class="cotainer-fluid">
        <div class="card mb-3 mx-auto d-block h-100" style="max-width: 600px;">
            <img src="{{book.imgUrl}}" alt="img" class="card-img p-3 mx-auto d-block" style="max-height: 450px;max-width: 300px;">
    
            <div class="card-body text-center">
                <h3 class="card-title" style="font-weight: bold;">AUTHOR: {{book.authorName}}</h3>
                <h3 class="card-title" style="font-weight: bold;">TITLE: {{book.bookTitle}}</h3>
                <h3 class="card-title" style="font-weight: bold;">LANG: {{book.language}}</h3>
                <h3 class="card-title" style="font-weight: bold;">GENRE: {{book.genre}}</h3>
                <h5> DESCRIPTION: {{book.description}}</h5>
            </div>
            <div class="card-footer">
                <button class="btn btn-success mt-3 mx-auto d-block" style="width: 190px; border-radius: 0.1cm;"
                    (click)="addFavorites(book)">ADD TO
                    FAVOURITE</button>
                    <button class="btn btn-success mt-3 mx-auto d-block" style="width: 190px; border-radius: 0.1cm;"
                    (click)="addToRecommendations(book)">RECOMMEND IT</button>
            </div>
        </div>
    </div>
</div>